<div class="container-fluid page-body-wrapper">
  <div class="theme-setting-wrapper">
    <a href="https://wa.me/7012153719" id="settings-trigger"><i class="mdi mdi-whatsapp"></i></a>
  </div>
  
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/personal_address">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Personal Information</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#about" aria-expanded="false" aria-controls="error">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">About Us</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="about">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/aboutus"> About Content </a></li>
            <li class="nav-item"> <a class="nav-link" href="/wp"> Why Pendler </a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#homepage" aria-expanded="false" aria-controls="error">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Home Page</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="homepage">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/banners">Banner </a></li>
            <li class="nav-item"> <a class="nav-link" href="/portfolio">Portfolio Of Clients</a></li>
            <li class="nav-item"> <a class="nav-link" href="/ourvalues">Our Values</a></li>
            <li class="nav-item"> <a class="nav-link" href="/ch"> Count in Homepage </a></li>
            <li class="nav-item"> <a class="nav-link" href="/mt">What we Offer </a></li>
          </ul>
        </div>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/services">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Our Services</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ourtechnologies">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Technologies</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/joblist">
          <i class="icon-columns menu-icon"></i>
          <span class="menu-title">Post a Job</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/applicationlist">
          <i class="icon-grid-2 menu-icon"></i>
          <span class="menu-title">Job Applications</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/feedbacks">
          <i class="icon-paper menu-icon"></i>
          <span class="menu-title">Feedbacks</span>
        </a>
      </li>

    </ul>
  </nav>
  <!-- partial -->