<%- include('../../../_partials/dashboard/_header'); -%>
    <%- include('../../../_partials/dashboard/_sidebar'); -%>
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Change Password</h4>

                                <form class="forms-sample" method="POST" action="/change-password">
                                    <div class="form-group row">
                                        <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Current
                                            Password:</label>
                                        <div class="col-sm-9">
                                            <input type="password" id="currentPassword" class="form-control" name="currentPassword">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleInputUsername2" class="col-sm-3 col-form-label">New
                                            Password:</label>
                                        <div class="col-sm-9">
                                            <input type="password" id="newPassword" class="form-control" name="newPassword">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary mr-2">Change Password</button>
                                    <button class="btn btn-light">Cancel</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:/dashboard/partials/_footer.html -->
            <%- include('../../../_partials/dashboard/_footer'); -%>
                <!-- partial -->
        </div>
        <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->
        <!-- plugins:js -->
        <script src="/dashboard/vendors/js/vendor.bundle.base.js"></script>
        <!-- endinject -->
        <!-- Plugin js for this page -->
        <script src="/dashboard/vendors/typeahead.js/typeahead.bundle.min.js"></script>
        <script src="/dashboard/vendors/select2/select2.min.js"></script>
        <!-- End plugin js for this page -->
        <!-- inject:js -->
        <script src="/dashboard/js/off-canvas.js"></script>
        <script src="/dashboard/js/hoverable-collapse.js"></script>
        <script src="/dashboard/js/template.js"></script>
        <script src="/dashboard/js/settings.js"></script>
        <script src="/dashboard/js/todolist.js"></script>
        <!-- endinject -->
        <!-- Custom js for this page-->
        <script src="/dashboard/js/file-upload.js"></script>
        <script src="/dashboard/js/typeahead.js"></script>
        <script src="/dashboard/js/select2.js"></script>
        <!-- End custom js for this page-->
        </body>

        </html>